.calculator-wrapper {
  width: 100vh;
  margin: 10em auto; 
  border-left: 10px solid $color8;
  border-right: 10px solid $color8;
}

.calculator__buttons {
  display: grid; 
  grid-template-columns: repeat(4, 1fr); 
  gap: 0.5em; 
  width: 100%;
  height: auto; 
}

.calculator__buttons button,
.calculator__buttons select {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1); 
  background: #ffffff; 
  border-radius: 6px; 
  border: 1px solid #000000; 
  cursor: pointer;
  color: #000000; 
  font-family: Arial, sans-serif;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.7em;
  text-align: center;
}

.calculator__buttons button:hover {
  background: #fd0000; 
}

.calculator__display {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
  padding: 0.7em;
  background: #00e1ff; 
  border: 1px solid #000000; 
  border-radius: 5px;
  font-size: 1.5rem; 
  text-align: right;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1); 
}

input {
  width: 100%;
  padding: 0.7em;
  background-color: #ffffff; 
  color: $color1; 
  border: 1px solid #8a8a8a;
  border-radius: 5px;
  font-size: 1.5rem; 
  text-align: center; 
  margin-top: 0.5em;
}

input:focus {
  outline: none;
  border-color: #787878; 
 
}
















