$color1: black;
$color2: yellow;
$color3: black;
$color4: grey;
$color5: aqua;
$color6: white;
$color7: blue;
$color8: red;
//----------
$font1: 2.5em;
$font2: 25px;
$font3: 1.4em;
$font4: 3em;