.sekcja6 {
    background-color: $color1;
    padding: $font1;
    border-left: $font3 solid $color5;
    border-bottom: $font3 solid $color5;
    border-right: $font3 solid $color5;
  
    &__content {
      width: auto;
      height: auto;
      @include center;
      display: flex;
      flex-wrap: wrap;
      flex: 1;
      gap: 50px;
      &__image {
        width: 1000px;
        img {
          width: 100%;
        }
      }
    }
}