.sekcja3 {
  background-color: $color1;
  padding: $font1;
  border-left: $font3 solid $color5;
  border-right: $font3 solid $color5;
  border-bottom: $font3 solid $color5;

  &__content {
    width: 100vw;
    height: auto;
    @include center;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    gap: 50px;
    &__image {
      width: 400px;
      img {
        @include center;
        display: flex;
        width: 100%;
      }
    }
    &__text {
      @include center;
      display: flex;
      width: 500px;
      padding: 2em;
      h1 {
        margin-bottom: 1em;
      }
    }
  }
}
